<div style="margin: 20px; padding: 100px">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Location</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of ProductsData">
        <td>{{ item.Name }}</td>
        <td>{{ item.Price }}</td>
        <td>{{ item.Location }}</td>
      </tr>
    </tbody>
  </table>

  <div style="margin-top:10px">
    <button class="btn btn-primary" (click)="PostProduct()">Post</button> |
    <button class="btn btn-secondary" (click)="UpdateProduct()">Put</button> |
    <button class="btn btn-danger" (click)="PatchProduct()">Patch</button> |
    <button class="btn btn-warning" (click)="DeleteProduct()">Delete</button>
  </div>
</div>
